body {
  font: arial, sans-serif;
}
h1 {
  color: #70757a;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-weight: 100;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.Weather-app {
  padding: 20px;
  border: 1px solid #70757a;
  border-radius: 5px;
}
.overview {
  text-align: left;
  margin-bottom: 20px;
}
img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 100px;
  line-height: 1;
}
.clearfix {
  text-align: left;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
